$cl-white: #ffffff;

$cl-grey-1: #171725;
$cl-grey-3: #696974;
$cl-grey-4: #92929d;
$cl-grey-5: #b5b5be;
$cl-grey-6: #d5d5dc;
$cl-grey-7: #e2e2ea;
$cl-grey-8: #F1F1F5;
$cl-grey-9: #fafafb;

$cl-blue-dark: #0062ff;

$cl-red-dark: #fc5a5a;
